body main {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.grid-item {
  width: 100%;
}

.expanded {
  grid-row-end: span 4;
}

.btnIsOnline {
  border: '1px solid #CCC';
  padding: 5px;
  border-radius: 5px;
}